body{
    margin: 20px;
}
form{
    background-color: rgb(172, 107, 233);
    padding: 100px;
    width: 300px;
    border-radius: 20%;
    text-align: center;
}
p{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
button{
    margin: 10px 20px;
    width: auto;
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
}